body{

    background-image: url("/1318060.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

h1{
    color: white;
    font-size: 45px;

}

h2{
    color: white;
}

p{
    color: rgb(7, 247, 255);
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: rgb(255, 0, 0);
    text-decoration: none;    
}

a:hover{
    color: aqua;
}

li{
    color: aqua;
}

h3{
    color: brown;
}

